/*
	Sets page font
*/

html {
	font-family: "Poppins";
}

body {
	margin: 0;
	padding: 0;
}

/*
	The code from here to the next comment is for the menu bar.
	This makes sure the dropdown menu is hidden until the user hovers over it
	The media query towards the end makes the page responsive and mobile friendly
*/

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #800000;
	position: relative;
}

img {
	display: block;
	padding-right: 30px;
	float: right;
	height: auto;
}

ul li {
	display: inline-block;
}

ul li a {
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
}

ul li:hover {
	background: #690000;
}

ul ul {
	position: absolute;
	min-width: 200px;
	background: lightgrey;
	display: none;
}

ul ul li {
	display: block;
	background: #800000;
}

ul li:hover ul {
	display: block;
}

ul li i {
	color: white;
	float: right;
	padding-left: 20px;
}

nav div {
	background: #800000;
	color: white;
	font-size: 24px;
	padding: 0.6em;
	cursor: pointer;
	display: none;
}

@media(max-width: 768px) {
	nav div {
		display: block;
	}

	#smalllogo {
		display: none;
	}

	img {
		display: inline-block;
		/*padding: 10px 0 0 30px;*/
		padding-top: 0px;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 30px;
		float: right;
		width: 40%;
		height: auto;
	}

	ul {
		display: none;
		position: static;
		background: #800000;
	}

	ul li {
		display: block;
	}

	ul ul {
		position: static;
		background: #800000;
	}

	svg {
		margin: auto;
		width: 100%;
		height: auto;
		position: relative;
	  }
}

/*
	This is only for settings.html.
	Formats the settings form so the input fields align
*/
form { display: table; padding-left: 10px;     }
p { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

/*
	This makes the table in the home page
*/
table, th, td {
	border: 1px solid black;
}
/*
	center bar graph on desktop version
*/
svg {
	display: block;
	margin: auto;
	position: relative;
}